body{
    background-image: url('../images/pexels-pixabay-33545.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* opacity: .4; */
    margin-bottom: 15px;
    background-color: transparent;
    color: aliceblue;
}
.navbar-brand{
    color: aliceblue;
    font-size: 30px;
    text-align: center;
}
#form-submit{
    border-radius: 15px;
    width: 100px;
    height: 30px;
    padding: 1px;
    
}




.card {
    border-radius: 20px;
    background-color: transparent;
    /* opacity: .6; */
    /* border: solid 2px;
    border-color: rgb(206, 218, 229); */
    padding: 10px;
    /* box-shadow: 1px 1px 4px black, 0 0 2px blue, 0 0 5px darkblue; */
    margin-bottom: 20px;
    color: aliceblue;
    
}

#city-imput {
    width: 300px;
    height: 30px;
    border-radius: 15px;
}

.spread {
    margin-top: 300px;
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
    .card{
        width: 100%;
        margin: 10px;
    }
    .spread{
        flex-direction: column;
        /* margin-top: 20px; */
        width: 100%;
        margin-top: 0px;
        /* margin: 10px; */
    }
}